
<div class="container">
	<div class="biocolumns">
		<%= image_tag("desuterthumbnail.png") %>
		<%= image_tag("vohlthumbnail.png") %>
		<%= image_tag("adubthumbnail.png") %>	
	</div>	
</div>

<div class="colcontainer">
	<h3>DeSutter's Bio </h3>
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer too	k a galley of type and scrambled it to make a type specimen book.</p>
</div>

<div class="colcontainer2">
	<h3>Vohlume's Bio</h3>
	<p>My name is Alex, or Vohlumes. A 23 year old aspiring professional Rocket League player and captain for Team Triumph. 
I'm excited to be moving forward with my teammates to be the best team we can be. I've played competitive games for 
about 7 years, and I believe I've found my niche with Rocket League! Be on the lookout for Team Triumph to break into 
NA Rocket League scene very soon!
</p>
</div>

<div class="colcontainer3">
	<h3>AduB's Bio</h3>
	<p>The name "Adub" comes from my real name being way too long, so they shortened it.  I'm 25, married with a full time job, which means I only really get to play at nights or on the weekend.  And yet somehow I still have over 1000 hours in this game.  I started playing rocket league on the release date, with no prior experience with SARPBC.  I quickly grew to love the game and haven't been able to set it down since.  I met Vohlumes on PS4 in December '15, eventually switching to PC where we found DeSutter.  We had chemistry from day 1 and are hoping to crack into the upper tier of competition.   </p>
</div>