<h1>Who's Streaming?</h1>
<div>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#DeSutter" aria-expanded="false" aria-controls="collapseExample">
      DeSutter
  </button>
  <br></br>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Vohlumes" aria-expanded="false" aria-controls="collapseExample">
      Vohlumes
  </button>
   <br></br>
   <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Adub" aria-expanded="false" aria-controls="collapseExample">
      Adub
  </button>  
  <div class="collapse" id="DeSutter">
  <div class="card card-block">
  	<p>DeSutter is online</p>
    <iframe src="http://www.twitch.tv/doctordesutter/embed" height="478" width="800" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
  <div class="collapse" id="Vohlumes">
  <div class="card card-block">
  	<p>Vohlumes is online</p>
    <iframe src="http://www.twitch.tv/doctordesutter/embed" height="478" width="800" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
  <div class="collapse" id="Adub">
  <div class="card card-block">
  	<p>Adub is online</p>
    <iframe src="http://www.twitch.tv/doctordesutter/embed" height="478" width="800" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
</div>